## AUTO-DETECT
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
*   text=auto eol=lf

# Text
*.conf text
*.conf.dist text
*.cmake text

## Scripts
*.sh text
*.lua text

## SQL
*.sql text

## C++
*.c text
*.cc text
*.cpp text
*.hpp text
*.h text

## DOCUMENTATION
*.md   text
*.txt  text
LICENSE text
*README* text

## GRAPHICS
*.png  binary
*.ico  binary
*.jpg  binary
*.gif  binary
